[submodule "taller_1-sanmacorz"]
	path = taller_1-sanmacorz
        url = https://github.com/uis-socorro/taller_1-sanmacorz

[submodule "taller_2-sanmacorz"]
        path = taller_2-sanmacorz
        url = https://github.com/sanmacorz/taller_2-sanmacorz
